<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <style>
      .page-header {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        position: relative;
      }
      
      .centro {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      
      .main-content {
        display: none;
      }
    </style>
  </head>
  <body>
    <section class="page-header">
      <div class="centro">
          <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          {% if site.show_downloads %}
            <a href="https://github.com/sararitta/sararitta.github.io/raw/master/SlidesTchelinuxRG.pdf" class="btn" target="_blank">Baixar Slides Tchêlinux Rio Grande</a>
          {% endif %}
      </div>
    </section>
  </body>
</html>
